<div>
  <% if current_user.friends.to_a.length >= 1 %>
  <h1>Users You Follow</h1>
  <div class='d-flex text-center justify-content-center flex-wrap'>
    <% @friends.each do |friend| %>
      <div class='m-3'>
        <%= friend.name %> </br>
        <%= link_to "View User's Reviews", "/reviewer/#{friend.id}", class: "btn mt-2" %></br>
        <% if current_user != friend && current_user.friends_with?(friend) %>
          <%= link_to 'Unfollow', friends_new_path(:friend => friend.id), method: :delete, class: 'btn mt-2'%>
      <% end %>
      </div>
    <% end %>
  </div>
  </br>
  </br>
  <% end %>
  <h1>Users You Can Follow</h1>
  <div class='d-flex text-center justify-content-center flex-wrap'>
    <% @users.each do |user| %>
      <% if current_user != user && !current_user.friends_with?(user) %>
        <div class='m-3'>
          <%= user.name %> </br>
          <%= link_to 'Follow', friends_new_path(:friend => user.id), method: :post, class: 'btn mt-2'%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
