<div class="page-header">
  <%= link_to shows_path, class: 'btn' do %>
    All Shows
  <% end %>
  <% if @show.user = current_user%>
  <%= link_to edit_show_path(@show), class: 'btn' do %>
    Edit
  <% end %>
  <%= link_to show_path(@show), :method => :delete, data: { confirm: 'Are you sure?' }, class: 'btn' do %>
    Delete
  <% end %>
  <% end %>
  <h1 class='text-white'>Show details</h1>
</div>

<dl class="dl-horizontal text-white">
  <dt>Title:</dt>
  <dd><%= @show.title %></dd>

  <dt>Comment:</dt>
  <dd><%= @show.comment %></dd>

  <dt>Rating:</dt>
  <dd><%= @show.rating %></dd>

</dl>
