<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-groupp">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.number_field :rating, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_field :comment, class: 'form-control' %>
  </div>


  <div class="form-group">
    <% if review.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', review, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn' %>

    <% if review.persisted? %>
      <%= link_to "Cancel", review, class: "btn" %>
    <% else %>
      <%= link_to "Cancel", reviews_path, class: "btn" %>
    <% end %>
  </div>
<% end %>
