<div class="page-header">
  <%= link_to reviews_path, class: 'btn' do %>
    All Reviews
  <% end %>
    
  <%= user_edit_review(@review) %>
  <%= user_delete_review(@review) %>


  <h1 class="mt-3">Review of <%= @review.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Rating:</dt>
  <dd><%= @review.rating %></dd>

  <dt>Comment:</dt>
  <dd><%= @review.comment %></dd>

  <dt>Posted by:</dt>
  <dd><%= @review.user.first_name.capitalize %>
</dl>
